body {
    font-family: 'THSarabun', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* เพิ่มพื้นหลังอ่อน */
}

.form-container {
    width: 210mm; /* ขนาด A4 */
    height: auto;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

h1, h2, h3 {
    text-align: center;
}


hr {
    border: 1px solid #000; /* เส้นแบ่งหัวข้อใหญ่ */
    margin: 20px 0; /* ระยะห่างบนและล่าง */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่างของตาราง */
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

h3 {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    padding-top: 10px;

}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

button {
    display: block;
    margin: 20px auto; /* จัดปุ่มกลางหน้า */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 3em;
    width: 800px;
}

